@{
	ViewData["Title"] = "Index";
}
@model List<ProductWithCategoryDto>

<table class="table table-striped">
	<thead>
	<td>Id</td>
	<td>Name</td>
	<td>Price</td>
	<td>Stock</td>
	<td>Category</td>
	<td>CreatedDate</td>
	<td>Update</td>
	<td>Delete</td>
	</thead>
	<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Id</td>
			<td>@item.Name</td>
			<td>@item.Price</td>
			<td>@item.Stock</td>
			<td>@item.category.Name</td>
			<td>@item.CreatedDate</td>
			<td><a class="btn btn-warning" asp-action="Update" asp-controller="Products" asp-route-id="@item.Id">Update</a></td>
			<td><a class="btn btn-danger" asp-action="Remove" asp-controller="Products" asp-route-id="@item.Id">Delete</a></td>
			<td>@item.CreatedDate</td>
		</tr>

	
	}
	<td><a class="btn btn-primary" asp-action="Save" asp-controller="Products">Save</a></td>
	</tbody>
</table>